Repository sjansen/strongbox-elm: changes, and which pre-commit hooks are due for each by the changed paths.
All: elm-format, go-vet, go-lint

elm-format:
  name: elm-format
  language: system
  entry: cd webui && ./node_modules/.bin/elm-format --validate
  pass_filenames: true

go-vet:
  name: go vet
  language: system
  entry: cd backend && go vet -tags integration ./...
  pass_filenames: false

go-lint:
  name: golangci
  language: system
  entry: cd backend && golangci-lint run
  pass_filenames: false

upgrade webui deps
  webui/package.json
  webui/yarn.lock
Due: none

use okta oauth an scs for backend session management
  backend/api/auth/auth.go
  backend/go.mod
  backend/go.sum
  backend/main.go
Due: go-vet, go-lint

use docker to run elm tests on travis
  .travis.yml
  webui/docker-compose.yml
  webui/docker/elm/Dockerfile
  webui/makefile
  webui/scripts/run-all-tests
Due: none

add dynamodb-local config to backend
  .travis.yml
  backend/.gitignore
  backend/data/dynamodb-local/.gitignore
  backend/docker-compose.test.yml
  backend/docker-compose.yml
  backend/docker/go/Dockerfile
  backend/docs/docker-compose.override.yml
  backend/makefile
  backend/scripts/docker-up-test
Due: none

upgrade scs to v2.1.0
  backend/api/auth/auth.go
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/makefile
  backend/scripts/run-all-tests
Due: go-vet, go-lint

start integration dynamostore into backend
  backend/docker-compose.test.yml
  backend/dynamostore.go
  backend/go.mod
  backend/go.sum
  backend/main.go
Due: go-vet, go-lint

upgrade dependencies
  .envrc
  .fossa.yml
  .travis.yml
  backend/README.md
  backend/api/graph/generated.go
  backend/docker/go/Dockerfile
  backend/docs/dependencies.md
  backend/go.mod
  backend/go.sum
  webui/docs/dependencies.md
  webui/elm.json
  webui/elmapp.config.js
  webui/package.json
  webui/yarn.lock
Due: go-vet, go-lint

cleanup backend oauth token verification
  backend/api/auth/auth.go
  backend/main.go
Due: go-vet, go-lint

extract backend server
  backend/api/auth/auth.go
  backend/api/graph/resolver.go
  backend/main.go
  backend/server/dynamostore.go
  backend/server/server.go
Due: go-vet, go-lint

add whoami to graphql schema
  backend/api/auth/auth.go
  backend/api/graph/generated.go
  backend/api/graph/models.go
  backend/api/graph/resolver.go
  backend/schema.graphql
Due: go-vet, go-lint

start adding routes to webui
  webui/elm.json
  webui/public/index.html
  webui/src/Main.elm
Due: elm-format

regenerate webui graphql api
  webui/package.json
  webui/src/API/InputObject.elm
  webui/src/API/Interface.elm
  webui/src/API/Object.elm
  webui/src/API/Object/User.elm
  webui/src/API/Query.elm
  webui/src/API/Scalar.elm
  webui/src/API/ScalarCodecs.elm
  webui/src/API/Union.elm
  webui/src/API/VerifyScalarCodecs.elm
  webui/src/API/elm-graphql-metadata.json
Due: elm-format

refactor webui following elm-spa-example
  .gitignore
  webui/public/index.html
  webui/src/LocalStorage.elm
  webui/src/Main.elm
  webui/src/Page.elm
  webui/src/Page/NotFound.elm
  webui/src/Page/Root.elm
  webui/src/Route.elm
  webui/src/Session.elm
  webui/src/Viewer.elm
  webui/src/index.js
Due: elm-format

fix webui sign in / out state tracking
  webui/public/index.html
  webui/src/Main.elm
  webui/src/Page.elm
  webui/src/Page/Blank.elm
  webui/src/Page/Root.elm
  webui/src/index.js
Due: elm-format

Path conditions:
  elm-format: any of: \.elm$
  go-vet: any of: \.go$
  go-lint: any of: \.go$
